:root {
  --bg-color: #121212;
  --text-color: #ffffff;
  --accent-color: #ff6b6b;
  --secondary-bg: #1e1e1e;
  --secondary-text: #b3b3b3;
}

body {
  font-family: 'Fira Code', monospace;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Nav-Bar */
.navbar {
  width: 100%;
  background-color: var(--secondary-bg);
  overflow: auto;
  text-align: center;
}

.nav-container {
  display: inline-block;
  margin: 0 auto;
}

.navbar a {
  display: inline-block;
  padding: 12px;
  color: var(--text-color);
  text-decoration: none;
  transition: all 0.3s;
}

.navbar a:hover {
  background-color: transparent;
  color: var(--accent-color);
}

.nav-separator {
  display: inline-block;
  margin: 0 10px;
  color: var(--secondary-text);
}

.icon-link {
  display: inline-block;
  vertical-align: middle;
  padding: 12px;
}

.icon-link svg {
  fill: var(--text-color);
  transition: fill 0.3s;
}

.icon-link:hover svg {
  fill: var(--accent-color);
  stroke-width: 1;
}

/* Body */
.content {
  max-width: 800px;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
}

.intro-container {
  display: flex;
  align-items: flex-start;
  overflow: hidden;
}

.profile-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 10px;
}

.intro-text .intro-greeting {
  margin-top: 0;
  color: var(--accent-color);
}

@media screen and (max-width: 700px) {
  .navbar a {
    padding: 8px;
    font-size: 0.8em;
  }
}

.image-gallery-container {
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
}

.image-gallery {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

.image-gallery-inner {
  display: flex;
  gap: 20px;
}

.image-gallery img {
  height: 200px;
  width: auto;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  flex-shrink: 0;
}

/* Additional styles to match the image */
h1,
h2,
h3 {
  color: var(--text-color);
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.accent-text {
  color: var(--accent-color);
}

.status-indicator {
  cursor: pointer;
  border-bottom: 1px dotted #ff6600;
  /* Orange shade */
  color: #ff6600;
  /* Orange shade */
}

.tooltip {
  position: absolute;
  background-color: #1a1a1a;
  /* Dark background to match your site */
  color: #f0f0f0;
  /* Light text color */
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 0.9em;
  font-family: 'Fira Code', monospace;
  /* Matching the body font */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: none;
  max-width: 300px;
  /* Prevent tooltip from becoming too wide */
  word-wrap: break-word;
  /* Allow long words to break */
  white-space: pre-line;
}