body {
    font-family: 'Fira Code', monospace;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
  }
  
  /* Nav-Bar */
  .navbar {
    width: 100%;
    background-color: #f8f8f8;
    overflow: auto;
    text-align: center; /* Center the navigation links */
  }
  
  .nav-container {
    display: inline-block;
    margin: 0 auto;
  }
  
  .navbar a {
    display: inline-block; /* Change from float to inline-block */
    padding: 12px;
    color: #333;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  /* Remove the background color on hover */
  .navbar a:hover {
    background-color: transparent;
    color: #555; /* Optional: change color on hover */
  }

  .nav-separator {
    display: inline-block;
    margin: 0 10px; /* Adjust spacing around the separator as needed */
    color: #333; /* Color of the separator */
  }
  
  .icon-link {
    display: inline-block;
    vertical-align: middle; /* Aligns the icon vertically with adjacent text */
    padding: 12px; /* Padding to increase clickable area */
  }
  
  .icon-link svg {
    fill: #333; /* Color of the icon */
    transition: fill 0.3s; /* Transition for hover effect */
  }
  
  .icon-link:hover svg {
    fill: #555; /* Color of the icon on hover */
    stroke-width: 1; /* Adjust the stroke width on hover to make it look bolder */
  }

  /* Body */
  .content {
    max-width: 800px; /* Maximum width of the content */
    width: 80%; /* Adjust the width as a percentage of the viewport width */
    margin: 20px auto; /* Top and bottom margin 20px, left and right auto */
    padding: 20px; /* Padding inside the content area */
  }


  
  .intro-container {
    display: flex;
    align-items: flex-start;
    overflow: hidden; /* Align the items to the top */
  }
  
  .profile-image {
    width: 150px; /* Adjust the width as needed */
    height: 150px; /* Adjust the height as needed */
    object-fit: cover; /* Ensures the image covers the area without distortion */
    margin-right: 20px; /* Adds some space between the image and the text */
  }
  

  
  .intro-text .intro-greeting {
    margin-top: 0; /* Removes top margin to align with the top of the image */
  }
  
  
  @media screen and (max-width: 700px) {
    .navbar a {
      padding: 8px; /* Smaller padding */
      font-size: 0.8em; /* Smaller font size */
    }
  }
  